.home__container {
    align-items: center;
    // background: chocolate;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 100%;
}

